<div class="column is-2 is-tablet" id="menu-sidebar">
    <aside class="menu">
        <ul class="menu-list">
        <li><a {{#if browse}}class="is-size-5 is-size-6-mobile is-active" {{else}} class="is-size-5 is-size-6-mobile"{{/if}} href="/agent/browse">Browse</a></li>
        <li><a {{#if purchased}}class="is-size-5 is-size-6-mobile is-active" {{else}} class="is-size-5 is-size-6-mobile"{{/if}} href="/agent/purchased">Purchased Scripts</a></li>
        <li><a class="is-size-5 is-size-6-mobile">Cart</a></li>
        <li><a class="is-size-5 is-size-6-mobile">Wishlist</a></li>

        <li><a class="is-size-5 is-size-6-mobile" href="/agent/messages">Messages</a></li>
        </ul>
    </aside>
</div>