<main class="column">
    <div id="welcome">
        <h2 class="is-size-3 is-size-4-mobile">Welcome to your homepage!</h2>
        <p>
        As a screenplay agent, you can view your purchased scripts, search
        for new scripts and check your messages.
        </p>
    </div>
</main>