<div class="card" id="purchased-script">
    <header class="card-header">
        <p class="card-header-title">{{title}}</p>
    </header>
    <div class="card-content">
        <div class="content">
            {{description}}
        </div>
    </div>
    <footer class="card-footer">
        <button class="card-footer-item edit-button" data-id={{id}}>Edit</button>
    </footer>
</div>