<div class="card message-card">
    
    <div class="card-content">
        <div class="content">
            {{firstName}} {{lastName}}
        </div>
    </div>
    <footer class="card-footer">
        <button class="card-footer-item button is-link edit-button" data-id={{id}}>View Chat</button>
    </footer>
</div>