<main class="column">
    <div id="welcome">
        <h2 class="is-size-3 is-size-4-mobile">Welcome to your homepage!</h2>
        <p>
            As a script writer, you can view your posted scripts, create new and
            edit draft scripts, and check your messages.
        </p>
    </div>
</main>