<main class="column">
    <div id="posted" class="pl-4">
        <h1
        class="is-size-2 is-size-4-mobile has-text-weight-bold pb-5"
        id="posted-title"
        >
        Posted Scripts
        </h1>

        <div id="posted-scripts">
            {{#each scriptData as |script|}}
                {{> scripts-card}}
            {{/each}}
        </div>
    </div>
 </main>