<main>
      <div id="workspace">
        <h1
          class="is-size-2 is-size-4-mobile has-text-weight-bold pb-5 pl-5"
          id="purchased-title"
        >
          Workspace
        </h1>
        
        <div class="pl-5 pr-5 columns">
          <div class="column is-one-third" id="draft-scripts">
            <div class="card" id="purchased-script">
              <div class="card-content">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                  <a href="#">@bulmaio</a>. <a href="#">#css</a>
                  <a href="#">#responsive</a>
                  <br />
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
          </div>
          <div class="column" id="view-script">
            <form>
              <div class="field">
                <div class="control pb-1">
                  <input
                    class="input is-large"
                    type="text"
                    placeholder="Script title"
                  />
                </div>
                <div class="control">
                  <textarea
                    class="textarea is-large"
                    placeholder="Script text"
                  ></textarea>
                </div>
              </div>
              <a class="fa-solid fa-plus fa-lg" id="create-button"></a>
              <a class="fa-solid fa-floppy-disk fa-lg" id="save-button"></a>
            </form>
          </div>
        </div>
      </div>
    </main>