<div class="column is-2 is-tablet" id="menu-sidebar">
    <aside class="menu">
        <ul class="menu-list">
        <li><a class="is-size-5 is-size-6-mobile">Posted Scripts</a></li>
        <li><a class="is-size-5 is-size-6-mobile">Workspace</a></li>
        <li><a class="is-size-5 is-size-6-mobile">View Messages</a></li>
        </ul>
    </aside>
</div>