<main>
  <div id="workspace">
    <h1
      class="is-size-2 is-size-4-mobile has-text-weight-bold pb-5 pl-5"
      id="purchased-title"
    >
      Workspace
    </h1>
    
    <div class="pl-5 pr-5 columns">
      <div class="column is-one-third" id="draft-scripts">
        {{#each scriptData as |script|}}
            {{> draft-card}}
        {{/each}}
      </div>
      <div class="column" id="view-script">
        <div>
          <div class="field">
            <div class="control pb-1">
              <input
                class="input is-large"
                type="text"
                placeholder="Script title"
                id="title"
                value={{title}}
              />
            </div>
            <div class="control pb-1">
              <input
                class="input is-large"
                type="text"
                placeholder="Script description"
                id="description"
                value={{description}}
              />
            </div>
            <div class="control">
              <textarea
                class="textarea is-large"
                placeholder="Script text"
                id="text"
              >{{text}}</textarea>
            </div>
          </div>
          <div class="fa-solid fa-plus fa-lg" id="create-button"></div>
          <div class="fa-solid fa-floppy-disk fa-lg" id="save-button" data-id={{id}}></div>
        </div>
      </div>
    </div>
  </div>
</main>
<script type="application/x-javascript" src="js/workspace.js"></script>