<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand p-3">
    <a href="/">
      <img src="/assets/logo.png" width="80" id="logo-img" />
    </a>
  </div>
</nav>
<main class="container main-container">
  <h1 class="column is-size-1 has-text-weight-bold pl-0" id="main-title">
    SCRIPTOMATIC
  </h1>
  <div class="columns is-multiline is-tablet">
    <div class="column is-two-fifths">
      <h2 class="is-size-3 is-size-4-mobile pb-4">
        Find the scripts you need
      </h2>
      <p>
        Welcome to Scriptomatic - one of the largest scripts library! Whether you are looking for an idea for your next
        blockbaster or already
        have a brilliant idea for one - look no further! Scriptomatic provides you an access to an extensive collection
        of high quality scripts as
        well as a platform to showcase your talent and publish your own scripts!
      </p>
    </div>
    <div class="column" id="login">
      <h1 class="is-size-3 is-size-4-mobile pb-4">Log in</h1>
      <form class="box" method="POST" action="/api/users/login">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="emailAddress" placeholder="e.g. email@example.com" required />
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password" placeholder="********" required />
          </div>
        </div>

        <button type="submit" class="button is-primary">Log in</button>
      </form>
    </div>
    <div class="column" id="signup">
      <h1 class="is-size-3 is-size-4-mobile pb-4">Sign up</h1>
      <form class="box" method="POST" action="/api/users/">
        <div class="columns has-text-centered">
          <div class="column is-half">
            <input type="radio" id="writer" name="roleTitle" value="writer" required />
            <label for="writer">Writer</label>
          </div>
          <div class="column">
            <input type="radio" id="agent" name="roleTitle" value="agent" required />
            <label for="agent">Agent</label>
          </div>
        </div>

        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" name="firstName" placeholder="e.g. John" required />
          </div>
        </div>
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input class="input" type="text" name="lastName" placeholder="e.g. Doe" required />
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="emailAddress" placeholder="e.g. email@example.com" required />
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password" placeholder="********" required />
          </div>
        </div>

        <button type="submit" class="button is-primary">Create new user</button>
      </form>
    </div>
  </div>

  <div class="columns is-multiline" id="testimonials">
    <div class="column is-full has-text-centered">
      <h1 class="is-size-3 pb-4">Customer testimonials</h1>
    </div>
    <div class="column is-half testimonial-column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="/assets/scorsese.jpg" alt="Not Martin Scorsese">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Not Martin Scorsese</p>
              <p class="subtitle is-6">@notMartin</p>
              <div class="content">
                "Awesome! Found just what I needed! Will definitely be coming back for more scripts ideas"
              </div>
            </div>
          </div>
          <nav class="level is-mobile">
            <div class="level-right">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fa fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="column is-half testimonial-column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="/assets/nolan.jpg" alt="Not Christopher Nolan">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Not Christopher Nolan</p>
              <p class="subtitle is-6">@notNolan</p>
              <div class="content">
                "Love this website! I found so many great ideas for my Cinema and Media Arts class final project. Highly
                recommended!"
              </div>
            </div>
          </div>
          <nav class="level is-mobile">
            <div class="level-right">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fa fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="column is-half testimonial-column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="/assets/spikelee.jpg" alt="Spike Lee">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Not Spike Lee</p>
              <p class="subtitle is-6">@notSpike</p>
              <div class="content">
                "Wow! My script was just purchased by a big movie studio! Thank you Scriptomatic!!"
              </div>
            </div>
          </div>
          <nav class="level is-mobile">
            <div class="level-right">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fa fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="column is-half testimonial-column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="/assets/tarantino.jpg" alt="Not Quentin Tarantino">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Not Quentin Tarantino</p>
              <p class="subtitle is-6">@notTarantino</p>
              <div class="content">
                "Best platform to find a script! You can search by keyword, author, or genre, which makes it so easy to
                find a perfect script!"
              </div>
            </div>
          </div>
          <nav class="level is-mobile">
            <div class="level-right">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fa fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href=" ">Terms</a>
      <a href=" ">Privacy</a>
      <a href=" ">Accessibility</a>
      <a href=" ">Help</a>
    </p>
  </div>
</footer>