{{> loggedin-nav}}

<div class="columns is-mobile" id="main">
    {{#if (eq userData.TBLRole.roleTitle "writer")}}
    {{> writer-menu}}

    {{> writer-home}}
    {{else}}
    {{> agent-menu}}

    {{> agent-home}}
    {{/if}}
</div>