{{> loggedin-nav}}

<div class="columns is-mobile" id="main">
    {{#if (eq userData.TBLRole.roleTitle "writer")}}
        {{> writer-menu}}

        {{> writer-home}}
    {{else}}
        {{> agent-menu}}

        {{> agent-home}}
    {{/if}}

    {{!-- {{#if page === "agent-browse"}}
        {{> agent-browse}}
    {{/if}}
    {{#if page === "agent-home"}}
        {{> agent-home}}
    {{/if}}
    {{#if page === "agent-purchased"}}
        {{> agent-purchased}}
    {{/if}}
    {{#if page === "writer-home"}}
        {{> writer-home}}
    {{/if}}
    {{#if page === "writer-posted"}}
        {{> writer-posted}}
    {{/if}}
    {{#if page === "writer-workspace"}}
        {{> writer-workspace}}
    {{/if}} --}}
</div>
