{{> loggedin-nav}}

<div class="columns is-mobile is-flex" id="main">
    {{> writer-menu}}

    <main class="column">
    <div id="posted" class="pl-4">
        <h1
        class="is-size-2 is-size-4-mobile has-text-weight-bold pb-5"
        id="posted-title"
        >
        Posted Scripts
        </h1>

        <div id="posted-scripts">
            {{#each scriptData as |script|}}
                {{> writer-posted}}
            {{/each}}
        </div>
    </div>
 </main>
</div> 