@media screen and (max-width: 1024px) {
    main.main-container {
        margin: 0 1.2rem;
    }
}

#main-title, #purchased-title, #messages-title, #browse-title {
    color: #565656;
    font-family: 'Bebas Neue', sans-serif;
    
}

.navbar {
    background-color: #BABFCD;
}

#logo, #logo-img {

    padding-bottom: 0;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

#testimonials {
  display: flex;
  flex-wrap: wrap;
}

.testimonial-column {
  display: flex;
}

.testimonial-column .card {
  flex: 1;
}

.testimonial-column nav {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#menu-sidebar {
    background-color: #BABFCD;
    
}

body {
    position: relative;
}

#main {
    height: 100vh;
}

.li-nav {
    float: right;
  }

#nav, #nav-logo, #nav-menu {
    margin:0;
    background-color: #BABFCD;
    padding:0;
}


#nav {
    align-items: center;
}

.home-button, .notif-button, .log-off-button {
    border:none;
    background:none;
    margin: 15px;
    color:  #565656;
    cursor: pointer;
    
}

.image img {
    display: block;
    height: 128px;
    width: 128px;
}
 

#create-button, #save-button {
    float:right;
    color:  #565656;
    cursor: pointer;
    padding-left: 10px;
}

#menu-sidebar {
    min-width: 120px;
}