<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Scriptomatic - Agent</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="https://bulma.io">
          <img src="../../assets/logo.png" width="80" id="logo-img" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <button class="home-button">
              <span class="icon is-small">
                <a class="fa fa-home fa-2x"></a>
              </span>
            </button>
            <button class="notif-button">
              <span class="icon is-small">
                <a class="fa fa-bell fa-lg"></a>
              </span>
            </button>
            <button class="log-off-button">
              <span class="icon is-small">
                <a class="fa fa-sign-out fa-2x"></a>
              </span>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <div class="columns is-mobile" id="main">
      <div class="column is-one-quarter is-tablet" id="menu-sidebar">
        <aside class="menu">
          <ul class="menu-list">
            <li><a class="is-size-5 is-size-6-mobile">Browse</a></li>
            <li><a class="is-size-5 is-size-6-mobile">Purchased Scripts</a></li>
            <li><a class="is-size-5 is-size-6-mobile">Cart</a></li>
            <li><a class="is-size-5 is-size-6-mobile">Wishlist</a></li>

            <li><a class="is-size-5 is-size-6-mobile">Messages</a></li>
          </ul>
        </aside>
      </div>
      <main class="column">
        <div id="browse">
          <form id="search-script">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Find a script" />
              </p>
              <p class="control">
                <a class="button is-info"> Search </a>
              </p>
            </div>

            <div class="field is-grouped">
              <label class="label">Search by:&nbsp;</label>
              <div class="control is-expended">
                <label class="radio">
                  <input type="radio" name="answer" id="genre" checked />
                  Genre
                </label>
              </div>
              <div class="control">
                <label class="radio">
                  <input type="radio" name="answer" id="keyword" />
                  Keyword
                </label>
              </div>
              <div class="control">
                <label class="radio">
                  <input type="radio" name="answer" id="author" />
                  Author
                </label>
              </div>
            </div>
          </form>
          <div id="search-results">
            <div class="card" id="search-result">
              <div class="card-content">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                  <a href="#">@bulmaio</a>. <a href="#">#css</a>
                  <a href="#">#responsive</a>
                  <br />
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">Add to Cart</a>
                <a href="#" class="card-footer-item">Add to Wishlist</a>
              </footer>
            </div>
            <br />
          </div>
        </div>
      </main>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    });
  </script>
</html>
