<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Scriptomatic - Agent</title>
  </head>
  <body>
    <nav class="main-nav">
      <div class="columns has-text-centered">
        <a class="column is-narrow" href="our website" id="logo">
          <img src="../../assets/logo.png" width="80" id="logo-img" />
        </a>
      </div>
    </nav>
  </body>
</html>
