<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/9819181378.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Scriptomatic - Agent</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="https://bulma.io">
          <img src="../../assets/logo.png" width="80" id="logo-img" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <button class="home-button">
              <span class="icon is-small">
                <a class="fa fa-home fa-2x"></a>
              </span>
            </button>
            <button class="notif-button">
              <span class="icon is-small">
                <a class="fa fa-bell fa-lg"></a>
              </span>
            </button>
            <button class="log-off-button">
              <span class="icon is-small">
                <a class="fa fa-sign-out fa-2x"></a>
              </span>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <div class="columns is-mobile" id="main">
      <div class="column is-2 is-tablet" id="menu-sidebar">
        <aside class="menu">
          <ul class="menu-list">
            <li><a class="is-size-5 is-size-6-mobile">Browse</a></li>
            <li><a class="is-size-5 is-size-6-mobile">Purchased Scripts</a></li>
            <li><a class="is-size-5 is-size-6-mobile">Cart</a></li>
            <li><a class="is-size-5 is-size-6-mobile">Wishlist</a></li>

            <li><a class="is-size-5 is-size-6-mobile">Messages</a></li>
          </ul>
        </aside>
      </div>
      <main class="column">
        <div id="purchased" class="pl-4">
          <h1
            class="is-size-1 is-size-3-mobile has-text-weight-bold pb-5"
            id="purchased-title"
          >
            Purchased Scripts
          </h1>
          <a>
            <div class="card">
              <header class="card-header">
                <a class="card-header-title">Title</a>
              </header>
              <div class="card-content">
                <div class="content">
                  Description

                  <br />
                </div>
              </div>
            </div>
          </a>
          <!-- <div id="purchased-scripts">
            <div class="card" id="purchased-script">
              <div class="card-content">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris.
                  <a href="#">@bulmaio</a>. <a href="#">#css</a>
                  <a href="#">#responsive</a>
                  <br />
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">View</a>
              </footer>
            </div>
            <br />
          </div> -->
        </div>
      </main>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    });
  </script>
</html>
