<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    //Shows the full information for the script
    <main class="column">
      <div id="full-script-info" class="pl-4">
        <h1
          class="is-size-2 is-size-4-mobile has-text-weight-bold pb-5"
          id="script-title"
        >
          {{scriptData.title}}
        </h1>

        <section id="script-text">{{scriptData.text}}</section>
        <section>
          `Written by: ${ {{scriptData.author.firstName}}
          {{scriptData.author.lastName}}.`
        </section>
        <footer>
          <form>
            <input type="button" value="Go back!" onclick="history.back()" />
          </form>
        </footer>
      </div>
    </main>
  </body>
</html>
