<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css" />
    <title>Scriptomatic - Writer</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="https://bulma.io">
          <img src="../../assets/logo.png" width="80" id="logo-img" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <button class="home-button">
              <span class="icon is-small">
                <i class="fa fa-home fa-2x"></i>
              </span>
            </button>
            <button class="notif-button">
              <span class="icon is-small">
                <i class="fa fa-bell fa-lg"></i>
              </span>
            </button>
            <button class="log-off-button">
              <span class="icon is-small">
                <i class="fa fa-sign-out fa-2x"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <div class="columns is-mobile" id="main">
      <div class="column is-one-quarter is-tablet" id="menu-sidebar">
        <aside class="menu">
          <ul class="menu-list">
            <li><a>Posted Scripts</a></li>
            <li><a>Workspace</a></li>
            <li><a>View Messages</a></li>
          </ul>
        </aside>
      </div>
      <main class="column">
        <div id="welcome">
          <h2 class="is-size-3 is-size-4-mobile">Welcome to your homepage!</h2>
          <p>
            As a script writer, you can view your posted scripts, create new and
            edit draft scripts, and check your messages.
          </p>
        </div>
      </main>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(
        document.querySelectorAll(".navbar-burger"),
        0
      );

      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    });
  </script>
</html>
